@model ErrorViewModel
@if(Model.StatusCode == 200)
{
    ViewData["Title"] = "OK";

    <h1 class="text-danger">OK.</h1>
}
else
{
    ViewData["Title"] = "Error";

    <br />
    <h1 class="text-danger">@Model.ErrorMessage:@Model?.StatusCode</h1>
    <br />
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}